:root {
  --main-color: #7a2d26; /* Темно-красный, часто встречался в советских плакатах */
  --background-main: #c7b299; /* Бежевый с серым оттенком, ассоциируется с советскими интерьерами */
  --highlight: #d44b2f; /* Красно-оранжевый, напоминающий цвета флагов и гербов */
  --annotation: #706c61; /* Серый с коричневым оттенком, часто использовался в обстановке и одежде */
  --secondary-background: #9e8d70; /* Бледно-зелёный с серым оттенком, ассоциируется с устаревшими обоями и текстилем */
  --disabled: #a2978a;
}
