.input {
  border: none;
  border-bottom: 1px solid var(--main-color);
  border-radius: 0;
  color: var(--main-color);
  padding: 6px 12px;
  cursor: text;
  transition:
    border-bottom-color 0.3s ease,
    color 0.3s ease;

  &:focus {
    border-bottom: 1px solid var(--highlight);
    color: var(--highlight);
    outline: none;
  }

  &:disabled {
    border-bottom: 1px solid var(--annotation);
    background-color: var(--annotation);
    color: var(--disabled);
    cursor: not-allowed;
  }
}
