.main {
  background-color: var(--secondary-background);
  border: 1px solid var(--main-color);
  border-radius: 6px;
  color: var(--main-color);
  padding: 6px 12px;
  cursor: pointer;
  transition:
    border-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    border: 1px solid var(--highlight);
    color: var(--highlight);
  }

  &:active {
    transform: scale(1.1);
    border: 1px solid var(--highlight);
    color: var(--highlight);
  }

  &:disabled {
    border: var(--annotation);
    background-color: var(--annotation);
    color: grey;
    cursor: not-allowed;
  }
}
