.mainButton {
  background-color: var(--secondary-background);
  border: 1px solid var(--main-color);
  border-radius: 6px;
  color: var(--main-color);
  padding: 6px 12px;
  cursor: pointer;
  transition:
    0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: var(--highlight);
  }

  &:active {
    background-color: var(--main-color);
    border-color: var(--highlight);
    color: var(--highlight);
    transform: scale(0.98);
  }

  &:disabled {
    border: var(--annotation);
    background-color: var(--annotation);
    color: var(--disabled);
    cursor: not-allowed;
  }
}
